header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-light {
    background-color: beige;
}

.header-dark {
    background-color: black;
}

.header-dark > h1 {
    color: white;
}